@import "./variables.scss";

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus { outline:none; }
  &::-moz-focus-inner { border:0; }
}

img {
  user-select: none;
}

:global .wrapper {
  width: 100%;
  max-width: $viewport-size;
  padding: 0 $viewport-gutter-mobile;
  margin: 0 auto;
  @media screen and (min-width: $bp-tablet) {
    padding: 0 $viewport-gutter;
  }
}
